body {
  background: green;
  box-sizing: border-box;
}
.card {
  text-align: center;
  background: white;
  margin: auto;
  height: 200px;
  width: 250px;
  border-radius: 10px;
  padding: 20px;
  padding-top: 180px;
  border: 1px solid black;
  position: relative;
  font-size: 80px;
}

.card:before {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 80px;
}

.card:after {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 80px;
}

.card.spade:before,
.card.spade:after {
  content: "\2660";
}

.card.club:before,
.card.club:after {
  content: "\2663";
}

.card.heart:before,
.card.heart:after {
  content: "\2665";
  color: red;
}
.card.diamond:before,
.card.diamond:after {
  content: "\2666";
  color: red;
}
