body {
  background: green;
  box-sizing: border-box;
}
.card {
  text-align: center;
  display: inline-block;
  background: white;
  margin: auto;
  height: 200px;
  width: 250px;
  border-radius: 10px;
  padding: 20px;
  padding-top: 180px;
  border: 1px solid black;
  position: relative;
  font-size: 80px;
}
.card-top:before {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 80px;
}
.card-bottom:after {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 80px;
}
.card-top::before,
.card-bottom::after {
  content: "♠"; /*spades*/
}

.card-top::before,
.card-bottom::after {
  content: "♣"; /*clubs*/
}
.card-top::before,
.card-bottom::after {
  content: "♥"; /*hearts*/
  color: red;
}
.card-top::before,
.card-bottom::after {
  content: "♦"; /*diams*/
  color: red;
}
